<h2>Edit Your Entry!</h2>

<form method="post" action="/main/update/<%= id %>">
    <div id="key-value-dump">
        <% entry.forEach(function(field){ %>
            <div class="field-box">
                <label for="key-1">Key Name</label>
                <input type="text" name="key-1" value="<%= field[0]%>">
                <label for="value-1">Value</label>
                <input type="text" name="value-1" value="<%= field[1]%>">
                <button type="button" class="delete" style="color:red;font-weight:bold;">X</button>
            </div>
        <% }) %>    
    </div>
    <br>
    <button type="button" id="add-new">Add New Field to This Entry</button>
    <br>
    <br>
    <button type="submit">Enter Entry</button>
</form>

<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

<script>
    var fieldCount = 1;
    $("#add-new").click(function(){
        fieldCount++;
        var newField = '<div class="field-box"><label for="key-' + fieldCount + '">Key Name</label>';
        newField += '<input type="text" name="key-' + fieldCount + '">';
        newField += '<label for="value-' + fieldCount + '">Value</label>';
        newField += '<input type="text" name="value-' + fieldCount + '">'
        newField += '<button type="button" class="delete" style="color:red;font-weight:bold;">X</button></div>';
        $("#key-value-dump").append(newField);
    })

    $("#key-value-dump").on("click", ".delete", function(){
        $(this).parent().remove();
    })
</script>