<h2>Edit Your Entry!</h2>

<form method="post" action="/main/update/<%= id %>">
    <div id="key-value-dump">
        <% for(key in entry){ %>
            <% if (key == "createdAt"){ break; } %>
            <div class="field-box">
                <label for="key-1">Key Name</label>
                <input type="text" name="key" value="<%= key %>">
                <label for="value-1">Value</label>
                <input type="text" name="value" class="value" value="<%= entry[key]%>">
            </div>
        <% } %>   
    </div>
    <br>
    <button type="button" id="add-new">Add New Field to This Entry</button>
    <br>
    <br>
    <button type="submit" id="submit-update">Update Entry</button>
</form>

<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

<script>
    var fieldCount = 1;
    $("#add-new").click(function(){
        fieldCount++;
        var newField = '<div class="field-box"><label for="key">Key Name</label>';
        newField += '<input type="text" name="key">';
        newField += '<label for="value">Value</label>';
        newField += '<input type="text" class="value" name="value">'
        newField += '<button type="button" class="delete" style="color:red;font-weight:bold;">X</button></div>';
        $("#key-value-dump").append(newField);
    })

    $("#key-value-dump").on("click", ".delete", function(){
        $(this).parent().remove();

    })

    $("#submit-update").click(function(){
        var inputs = $("input");
        for(var i=0; i<inputs.length; i++){
            console.log($(inputs[i]).val());
        }
    })
    
</script>