<h2>Look at Stuff Here!</h2>

<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

<script>
    $.get("/main/getdata", function(data){
        console.log(data);
    })
</script>