<h2>Look at Stuff Here!</h2>
<div id="data-dump">
    
    <% entries.forEach(function(entry){ %>
        <div class='table-box'>
            <table>
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
        <%  for(key in entry){ %>
        <%     var dontDisplay = ["createdAt", "updatedAt", "data", "id", "constructor", "toObject", "save", "destroy", "_defineAssociations", "_normalizeAssociations", "_cast", "validate", "toJSON"] %>
        <%      if(dontDisplay.indexOf(key) === -1){ %>
                <tr>
                    <td> <%= key %></td>
                    <td> <%= entry[key] %></td>
                </tr>
        <% } %>       
        <% }; %>
                </tbody>
            </table>
            <a href="/main/edit/<%= entry.id %>">edit entry</a> 
            <a href="/main/delete/<%= entry.id %>" style='margin-left: 25px'>delete entry</a> 
        </div>
    <% }) %>

</div>

<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

<script>
    function displayData(data){
        for(var i=0; i<data.length; i++){
            
            var entry = data[i];
            var newTable = "<div class='table-box'><table><thead><tr><th>Key</th><th>Value</th></tr></thead><tbody>";

            for(field in entry){
                newTable += "<tr><td>" + field + "</td><td>" + entry[field] + "</td></tr>";
            };

            newTable += "</tbody><table><a href='" + "/main/delete/" + data[i].id + "'>delete entry</a>"

            newTable += "<a href='" + "/main/edit/" + data[i].id + "' style='margin-left: 25px'>edit entry</a></div>"
            
            $("#data-dump").append(newTable);
        };
    };

    $.get("/main/getdata", function(data){
        //displayData(data.data);
    });
</script>